body{
    background-image: url(./imagenes/copadelmundo.webp);
    background-repeat: no-repeat;
    background-size: 1500px 1150px;
   
}

h1{
    display:inline-flex;
    text-align: center;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 0px;
    color: white;
    
   

}

/* GRUPO A */

.grupo-a{
    height: auto;
    width: 70px;
    margin: 30px 6rem;
    border: 4px solid white;
    display:
    
    
}

.qatar {
   height: 50px;
   width:  70px;
    border-radius: 10px;

}

.ecuador{
    height: 50px;
    width: 70px;
    border-radius: 10px;    
}

.senegal{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}

.netherlands{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}

/* GRUPO B */

.england{
    height: 50px;
    width: 70px;
    border-radius: 10px;    
}

.iran{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}

.ee-uu{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}

.wales{
    height: 50px;
    width: 70px;
    border-radius: 10px;
    
}

/* GRUPO C */

.argentina{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}

.saudi-arabia{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}

.mexico{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}

.poland{
    height: 50px;
    width: 70px;
    border-radius: 10px;
}